*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(ima/back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}
.logo{
    width: 150px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
  }
.app a{
    text-decoration: none;
    margin-left: 35px;
}
.log{
    background-color: gold;
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding: 10px 20px; 
    border-radius: 20px;
}
.now{
    background-image: linear-gradient(45deg,gold, rgb(0, 35, 99));
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px; 
    border-radius: 20px;
    border-top-right-radius: 0px;
}
.middil{
    margin-top: 22%;
    width: 100%;
}
.middil p{
    margin: 19px 0px;
    line-height: 33px;
    animation-delay: 0.5s;
}
.middil a{
    text-decoration: none;
    background-image: linear-gradient(45deg,rgb(156, 28, 28),#ffcb00);;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 18px;
    border-top-right-radius: 0px;
    animation-delay: 1s;
}
.feature{
    width: 530px;
    position: absolute;
    bottom: 0px;
    right: 6%;
    
}
.feature .anim{
    animation-delay: 1.5s;
}


.content{
    width: 100%;
    padding: 2% 10%;
    display: flex;
    margin-top: 52px;
}
.box{
    width: 30%;
    box-shadow: 4px 4px 14px #110202;
    margin-left: 30px;
    position: relative;
}
.phone{
    width: 202px;
    margin-left: 37px;
    padding: 9px;
}
.box h3{
    text-align: center;
    color: deeppink;
}
.prich {
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 11px;
    margin-left: 4px;
}
.lorem{
    text-align: center;
    margin-top: 13px;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 400;
}
.mobail {
    text-align: center;
    margin-top: 12%;
    font-size: 46px;
    color: orange;
  }









.anim{
    opacity: 0px;
    transform: translateY(30px);
    animation: move-right 0.5s linear forwards ;
}
@keyframes move-right {
    100%{
        opacity: 0px;
        transform: translateX(0px);

    }
}






